Repository felixalbrigtsen/dcst2002-spicychef-recipe: changes, and which GitLab CI jobs are due for each by the changed paths.
All: client_jest, client_typescript, server_jest, server_typescript

.gitlab-ci.yml:

image: node:16-bullseye

stages:
  - build
  - test
  - deploy

client_build:
  stage: build
  script:
    - cd client/
    - npm prune
    - npm ci
    - echo "$CI_CLIENT_ENV" > .env
    - npm run build
  cache:
    key: ${CI_COMMIT_REF_NAME}
    paths:
      - client/node_modules/
  artifacts:
    paths:
      - ./client/node_modules/
      - ./client/public

client_jest:
  stage: test
  coverage: /All files[^|]*\|[^|]*\s+([\d\.]+)/
  dependencies:
    - client_build
  needs:
    - client_build
  script:
    - cd client/
    - npm run test:ci
  artifacts:
    when: always
    reports:
      junit:
        - ./client/junit.xml
  only:
    changes:
      - client/*

client_typescript:
  stage: test
  dependencies:
    - client_build
  needs:
    - client_build
  script:
    - cd client/
    - ./node_modules/.bin/tsc --noEmit --skipLibCheck
  only:
    changes:
      - client/*

server_install:
  stage: build
  script:
    - cd server/
    - npm prune
    - npm ci
  cache:
    key: ${CI_COMMIT_REF_NAME}
    paths:
      - server/node_modules/
  artifacts:
    paths:
      - ./server/node_modules/

api_docs:
  stage: build
  artifacts:
    when: always
    paths:
      - server/docs/*
  script:
    - cd server/
    - npm install
    - npm run docs

server_jest:
  stage: test
  coverage: /All files[^|]*\|[^|]*\s+([\d\.]+)/
  dependencies:
    - server_install
  needs:
    - server_install
  script:
    - cd server/
    - echo "$CI_SRV_TEST_ENV" > .env.test
    - npm run test:ci
  artifacts:
    when: always
    reports:
      junit:
        - ./server/junit.xml
  only:
    changes:
      - server/*

server_typescript:
  stage: test
  dependencies:
    - server_install
  needs:
    - server_install
  script:
    - cd server
    - ./node_modules/.bin/tsc --noEmit --skipLibCheck
  only:
    changes:
      - server/*


deploy_production:
  stage: deploy
  image: alpine:latest
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
  environment:
    name: production-mccoy
    url: recipe.feal.no
  dependencies:
    - client_build
    - client_jest
    - server_typescript
    - server_jest
    - api_docs
  script:
    - export CI=false
    - apk add --no-cache rsync openssh
    - mkdir -p ~/.ssh
    - echo "$CI_SSH_KEY" > ~/.ssh/id_rsa
    - chmod 600 ~/.ssh/id_rsa
    - echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config
    - ssh ci@192.168.0.103 "cd /var/www/dcst2002-recipe-gr2 && git checkout main && git pull origin main && cd server && npm ci && sudo systemctl restart recipe-app.service && exit"
    - mv server/docs client/public/api-docs
    - rsync -rav -e ssh --delete client/public/ ci@192.168.0.103:/var/www/dcst2002-recipe-gr2/client/public/

Improve backend user tests
  server/src/test/recipe-user.test.ts
Due: none

Add initial backend docs
  server/README.md
Due: server_jest, server_typescript

Add initial frontend docs
  client/README.md
Due: client_jest, client_typescript

Add short description to server readme
  server/README.md
Due: server_jest, server_typescript

Minor README updates
  README.md
Due: none

Fix typo
  client/README.md
Due: client_jest, client_typescript

Added tests for /importrecipe endpoint
  server/src/test/recipe-admin.test.ts
Due: none

Clean recipe-admin.test.ts
  server/src/test/recipe-admin.test.ts
Due: none

Clean recipe-admin.test.ts, improve deep tests
  server/src/test/recipe-admin.test.ts
Due: none

More deep quality tests
  server/src/test/recipe-admin.test.ts
Due: none

User feedback and form validity
  client/src/components/RecipeForm.tsx
Due: none

Added alert on successful logout
  client/src/hooks/Login.tsx
Due: none

Changed alert on added to list #37
  client/src/pages/IngredientsPage.tsx
Due: none

Start cleaning recipe-router.test.ts
  server/src/test/recipe-router.test.ts
Due: none

Remove debug logs
  client/src/components/RecipeForm.tsx
Due: none

Implement fuzzy search on SearchPage
  client/package-lock.json
  client/package.json
  client/src/pages/SearchPage.tsx
Due: client_jest, client_typescript

IngredientsPage: Clarify buttons and improve search
  client/src/pages/IngredientsPage.tsx
Due: none

Update tests according to previous commit
  client/src/test/pages/IngredientsPage.test.tsx
Due: none

Replaced mdi with react-icons
  client/src/pages/Frontpage.tsx
Due: none

Replaced mdi with react-icons
  client/src/components/NavBar.tsx
Due: none

Added edit button on /recipes/:id for admins
  client/src/pages/RecipePage.tsx
Due: none

Tiny ninja edit
  client/src/pages/RecipePage.tsx
Due: none

Backend tests: Format with prettier
  server/.prettierrc
  server/src/test/MockPassportStrategy.ts
  server/src/test/auth-router.test.ts
  server/src/test/dotenv-config.js
  server/src/test/jest.config.ts
  server/src/test/mock-utils.ts
  server/src/test/recipe-admin.test.ts
  server/src/test/recipe-router.test.ts
  server/src/test/recipe-user.test.ts
Due: server_jest, server_typescript

Enforce minimum testing requirements
  client/jest.config.ts
Due: client_jest, client_typescript

Not authorized test added
  client/src/test/pages/ShoppingListPage.test.tsx
Due: none

Add sorting to RecipeListPage
  client/src/pages/RecipeListPage.tsx
Due: none

Cleanup Explore page, add to navbar
  client/src/components/NavBar.tsx
  client/src/pages/RecipeListPage.tsx
Due: none

Fix #46
  client/src/pages/IngredientsPage.tsx
Due: none

Fix mobile styling of new SearchPage
  client/src/pages/SearchPage.tsx
Due: none

Safeguard user.x.includes, cleanup imports
  client/src/components/RecipeCard.tsx
  client/src/pages/IngredientsPage.tsx
  client/src/pages/LikePage.tsx
  client/src/pages/RecipePage.tsx
  client/src/pages/ShoppingListPage.tsx
  client/src/services/list-service.ts
Due: none

Fix search on front page
  client/src/pages/Frontpage.tsx
Due: none

Added Bulma as dependency
  client/package-lock.json
  client/package.json
Due: client_jest, client_typescript

Auto-linter using XO
  client/src/hooks/Alert.tsx
  client/src/hooks/Login.tsx
Due: none

Auto-linter using XO
  client/src/models/NewRecipe.ts
  client/src/models/Recipe.ts
Due: none

Lintering with OX linter tool, auto-linter + minor rewriting
  client/src/services/ingredient-service.ts
  client/src/services/list-service.ts
  client/src/services/recipe-service.ts
  client/src/services/user-service.ts
Due: none

Added linter config
  client/.eslintrc.json
  client/.xo-config.json
Due: client_jest, client_typescript

Lintering with OX linter tool, auto-linter + logic rewriting
  client/src/components/ImageSlider.tsx
  client/src/components/NavBar.tsx
  client/src/components/NotAuthorized.tsx
  client/src/components/RecipeCard.tsx
  client/src/components/RecipeForm.tsx
  client/src/components/ScrollUp.tsx
Due: none

Lintering with XO linter tool, auto-linter + logic rewriting, unfinished
  client/src/pages/AdminPage.tsx
  client/src/pages/CreateRecipePage.tsx
  client/src/pages/EditRecipePage.tsx
  client/src/pages/Frontpage.tsx
  client/src/pages/IngredientsPage.tsx
  client/src/pages/LikePage.tsx
  client/src/pages/RecipeListPage.tsx
  client/src/pages/RecipePage.tsx
  client/src/pages/SearchPage.tsx
  client/src/pages/ShoppingListPage.tsx
Due: none

Everything is broken , need to fix #30
  client/src/test/pages/RecipePage.test.tsx
Due: none

100% coverage, last 2 tests dont work #30
  client/src/test/pages/ShoppingListPage.test.tsx
Due: none
